@import url('https://fonts.googleapis.com/css?family=Markazi+Text');

body{
    padding: 0;
    margin: 0;
    background: #222;
    color: whitesmoke;
}

#arab_input{
    font-family: 'Markazi Text', serif;
    font-size: 2em;
}

input{
    width: 99%;
    text-align: right;
    padding: 10px 0;
    margin: 0;
    background: #222;
    color: whitesmoke;
    border: 0;
    border-radius: 0;
}

#arab{
    font-family: 'Markazi Text', serif;
    font-size: 2em;
    text-align: center;
    background: #333;
    color: whitesmoke;
    margin: 2px;
    padding: 0;
    height: 58px;
}

#buttons{
    display: grid;
    grid-template-columns: repeat(7, 14.3%);
}

#clearButton{
    margin: 0;
    padding: 19px 0 0 0;
    background: #c0392b;
    text-align: center;
    vertical-align: middle;
}

#top{
    display: grid;
    grid-template-columns: 20% auto;

}